.App {
  text-align: center;
}


.navDark {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
} 

.Navbar{
  display:flex;
}

/* .NavJed{
  flex-direction: column;
  justify-content: center;
} */

.AppIc{
  justify-content: flex-start;
  margin-left: 0;
  
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 0 !important;
  margin-right: auto;
  margin-left: 0 !important;
}

.HomeIcon{
  justify-content: flex-end;
  
  }

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

 .nav-link {
  color: rgb(216, 216, 216) !important;
}

.nav-link.active,
.nav-link:hover {
  color: #fdd86a !important;
}

.CardCont{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card-body{
  display: flex;
  justify-content: center;
}

.card {
  margin: 10px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
