body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  text-align: center;
}

.logo{
  text-align: left;
}
​
.appLogo{
  padding-right: 20px;
  display: inline-block;
  margin: 20px;
}
​
nav{
  float: right;
  font-size: 20px;
  margin:20px;
  font-weight: bold;
}

.navigation{
  float: right;
}

.fixedDiv{
  width:250px;
  height: 250px;
}


#linkButton {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}